Hi {{ user.username}}!!
<!-- <h1>{{ customer.image }}</h1>
<p>{{ customer.address }}</p>
<p>Reporter: {{ customer.postcode }}</p>
<p>Published: {{ customer.telephone }}</p> -->
<!-- <p>Date: {{ now|date }}</p> -->

<table border="1px solid black" width="800px">
        <tr>
          <th>Maid</th>
          <th>Name</th>
          <th>Last</th>
          <th>Tel</th>
        </tr>
        {% for maid in maid_list %}
            <tr>
                <td><img src="{{ maid.imagemaid.url }}" width="200px"></td>
                <td> <a href=""> {{ maid.first_name }}</a></td>
                <td> {{ maid.last_name }} </td>
                <td> {{ maid.telephone }} </td>
            </tr>
        {% empty %}
            <td>No articles yet.</td>
        {% endfor %}
</table> 